<section class="section archive" [@archiveAnimation] *ngIf='state'>
    <div class="container">
        <div class="archive-title">
            <h1 class="big-title">Projetos</h1>
            <p class="archive-subtitle big-subtitle">Uma lista mais completa</p>
        </div>
        <div class="archive-table-container">
            <table class="archive__StyledTable-lXDeB haZMKe">
                <thead>
                    <tr>
                        <th>Ano</th>
                        <th>Título</th>
                        <th class="hide-on-mobile">Feito em</th>
                        <th class="hide-on-mobile">Construído com</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2024</td>
                        <td class="proyect-title">Ecommerce</td>
                        <td class="proyect-company"><span>Porto Alegre - RS</span></td>
                        <td class="proyect-skills">
                            <span>PHP<span class="separator">·</span></span>
                            <span>SQL</span>
                        </td>
                        <td class="proyect-links">
                            <span><a style='color: inherit' href="https://github.com/marciodutra/Shopping_online"><i class="ml-4 fab fa-github"></i></a></span>
                            <span><a style='color: inherit' href="http://lojaonline.rf.gd/"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2024</td>
                        <td class="proyect-title">Site de hotel</td>
                        <td class="proyect-company"><span>Porto Alegre - RS</span></td>
                        <td class="proyect-skills">
                            <span>PHP<span class="separator">·</span></span>
                            <span>SQL</span>
                        </td>
                        <td class="proyect-links">
                          <span><a style='color: inherit' href="https://github.com/marciodutra/Sistema_Hotel_Bluebird"><i class="ml-4 fab fa-github"></i></a></span>
                          <span><a style='color: inherit' href="http://hotelbluebird.rf.gd/"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2024</td>
                        <td class="proyect-title">Sistema inventário</td>
                        <td class="proyect-company"><span>Porto Alegre - RS</span></td>
                        <td class="proyect-skills">
                            <span>PHP<span class="separator">·</span></span>
                            <span>SQL</span>
                        </td>
                        <td class="proyect-links">
                            
                            <span><a style='color: inherit' href="https://github.com/marciodutra/Sistema_Inventario"><i class="ml-4 fab fa-github"></i></a></span>
                            <span><a style='color: inherit' href="https://testegeriaria.000webhostapp.com/"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Innerfire</td>
                        <td class="proyect-company"><span>Monagas - VE</span></td>
                        <td class="proyect-skills">
                            <span>Wordpress<span class="separator">·</span></span>
                            <span>HTML<span class="separator">·</span></span>
                            <span>CSS</span>
                        </td>
                        <td class="proyect-links">
                            <span><a style='color: inherit' href="http://innerfire.luzzidigital.fav/"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2023</td>
                        <td class="proyect-title">Sistema de restaurante</td>
                        <td class="proyect-company"><span>Porto Alegre - RS</span></td>
                        <td class="proyect-skills">
                            <span>PHP<span class="separator">·</span></span>
                            <span>HTML<span class="separator">·</span></span>
                            <span>CSS</span>
                        </td>
                        <td class="proyect-links">
                            <span><a style='color: inherit' href="https://github.com/marciodutra/Sistema_Restaurante"><i class="ml-4 fab fa-github"></i></a></span>
                            <span><a style='color: inherit' href="http://sistemarestaurante.rf.gd/customerSide/home/home.php"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</section>